services/GlobalConfigurationsClient/src/osb/resources/wsdls/GlobalConfigurations_1.00.wsdl

<WL5G3N0:definitions name="GlobalConfigurations_1.00" targetNamespace="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:Q1="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:nke="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="../schemas/XMLSchema_-648783031.xsd"/>
      <xsd:element name="GetConfigForAServiceByIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="serviceId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetConfigForAServiceByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="service" type="Q1:ServiceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetAllConfigForAServiceRequest"/>
      <xsd:element name="GetConfigForAServiceByNameRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="serviceName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetConfigForAServiceByNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="service" type="Q1:ServiceType">
						</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GetConfigForAServiceByIdRequest">
    <WL5G3N0:part element="WL5G3N1:GetConfigForAServiceByIdRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetConfigForAServiceByIdResponse">
    <WL5G3N0:part element="WL5G3N1:GetConfigForAServiceByIdResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetConfigForAServiceByNameRequest">
    <WL5G3N0:part element="WL5G3N1:GetConfigForAServiceByNameRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetConfigForAServiceByNameResponse">
    <WL5G3N0:part element="WL5G3N1:GetConfigForAServiceByNameResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="GlobalConfigurations_1.00">
    <WL5G3N0:operation name="GetConfigForAServiceById">
      <WL5G3N0:input message="WL5G3N1:GetConfigForAServiceByIdRequest"/>
      <WL5G3N0:output message="WL5G3N1:GetConfigForAServiceByIdResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetConfigForAServiceByName">
      <WL5G3N0:input message="WL5G3N1:GetConfigForAServiceByNameRequest"/>
      <WL5G3N0:output message="WL5G3N1:GetConfigForAServiceByNameResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="GlobalConfigurations_1.00SOAP" type="WL5G3N1:GlobalConfigurations_1.00">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="GetConfigForAServiceById">
      <WL5G3N2:operation soapAction="http://www.nike.com/GlobalConfigurations_1.00/GetConfigForAServiceById"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetConfigForAServiceByName">
      <WL5G3N2:operation soapAction="http://www.nike.com/GlobalConfigurations_1.00/GetConfigForAServiceByName"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="GlobalConfigurations_1.00SOAPQSService">
    <WL5G3N0:port binding="WL5G3N1:GlobalConfigurations_1.00SOAP" name="GlobalConfigurations_1.00SOAPQSPort">
      <WL5G3N2:address location="http://!!osb.http.loadbalancer!!/GlobalConfigurations_1.00"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>