services/CommonServicesForHR_1.00/src/osb/resources/wsdls/GLB-PR_ZHRMD_GPAY_File_Adp_Read_1.00.wsdl

<wsdl:definitions name="GLB-PR_ZHRMD_A08_File_Adp_Read_1.00" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/HRMS_Adapters/CommonServicesForHR_1.00/GLB_PR_ZHRMD_GPAY_File_Adp_Read_1_00" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/HRMS_Adapters/CommonServicesForHR_1.00/GLB_PR_ZHRMD_GPAY_File_Adp_Read_1_00" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
  <plt:partnerLinkType name="synchReadFile_plt">
    <plt:role name="synchReadFile_role">
      <plt:portType name="tns:synchReadFile_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/HRMS_Adapters/CommonServicesForHR_1.00/GLB_PR_ZHRMD_GPAY_File_Adp_Read_1_00" xmlns="http://www.w3.org/2001/XMLSchema">
        <import schemaLocation="../schemas/GLB-PR_ZHRMD_GPAY_XSD_Src_1.00.xsd"/>
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="synchReadFile_msg">
        <wsdl:part name="body" element="ZHRMD_GPAY"/>
    </wsdl:message>
    <wsdl:portType name="synchReadFile_ptt">
        <wsdl:operation name="synchReadFile">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:synchReadFile_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>