DOMS_DigitalRetailSales_1041_SCS/src/osb/resources/schemas/DOMS_DigitalRetailSales_1041_SCS_XsdSrc_1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com.nike.sales"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:com.nike.sales" xmlns:tns="urn:com.nike.sales">
	<xsd:element name="DigSales" type="tns:T_DigSales">
		<xsd:annotation>
			<xsd:documentation>This element is a root element for the sales /
				return / credit memo transactions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="T_Tax">
		<xsd:annotation>
			<xsd:documentation>Element for Tax details for a sales/return
				transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="TaxAmt" type="xsd:decimal" use="required">
			<xsd:annotation>
				<xsd:documentation>This attribute holds tax amount data sales /
					return / credit memo transactions.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="T_DigSales">
		<xsd:annotation>
			<xsd:documentation>This element is a root element for the sales /
				return / credit memo transactions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Tran" type="tns:T_Tran" />
		</xsd:sequence>
		<xsd:attribute name="FileTime" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>The timestamp when transaction document was
					generated.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="T_Payment">
		<xsd:annotation>
			<xsd:documentation>Element for tender details for a sales/return
				transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PTAM" />
					<xsd:enumeration value="ZTDS" />
					<xsd:enumeration value="ZTGC" />
					<xsd:enumeration value="ZTGF" />
					<xsd:enumeration value="PTMC" />
					<xsd:enumeration value="ZTPP" />
					<xsd:enumeration value="PTVO" />
					<xsd:enumeration value="PTVI" />
					<xsd:enumeration value="ZNID" /> <!-- NIKEiD Delivery Conf -->
					<xsd:enumeration value="ZNI2" /> <!-- NIKEiD Remake -->
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="PayProcID" use="optional">
			<xsd:annotation>
				<xsd:documentation>A payment processor unique request id used in
					funds reconcilations e.g. Cybersource's token #</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="AuthCode" use="optional">
			<xsd:annotation>
				<xsd:documentation>Auth code for credit card transactions.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Amt" use="required">
			<xsd:annotation>
				<xsd:documentation>Amount for this payment type.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Acct" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="T_Discount">
		<xsd:annotation>
			<xsd:documentation>Element for discount details for a sales/return
				transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Amt" use="required">
			<xsd:annotation>
				<xsd:documentation>Amount for discount.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ID" use="optional">
			<xsd:annotation>
				<xsd:documentation>discount ID if any.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="T_Tran">
		<xsd:annotation>
			<xsd:documentation>Transaction details for a sales/return
				transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Item" type="tns:T_Item" maxOccurs="unbounded" />
			<xsd:element name="Payment" type="tns:T_Payment"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="TranNo" use="required">
			<xsd:annotation>
				<xsd:documentation>This is unique transaction # from DOMS - e.g.
					Invoice # in Sterling</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="StoreNo" use="required">
			<xsd:annotation>
				<xsd:documentation>This is digital store # - static 150 for all
					digital, actual BM store # for Studio order message.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="OrderNo" use="required">
			<xsd:annotation>
				<xsd:documentation>customer sales order #.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="OrderDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>The date invoice was generated.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="BillTime" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Time invoice was generated.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="BillDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>The date invoice was generated.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="DeliverTime" type="xsd:dateTime"
			use="optional">
			<xsd:annotation>
				<xsd:documentation>Date and Time revenue shoube be recognized for.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="DeliverDate" type="xsd:date" use="optional">
			<xsd:annotation>
				<xsd:documentation>The date revenue shoube be recognized for.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TranRef" use="required">
			<xsd:annotation>
				<xsd:documentation>shipment release # from DOMS</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="12" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TranStatus" use="optional">
			<xsd:annotation>
				<xsd:documentation>A status of transaction for SAP-R to move funds
					from 1 bucket to another.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
					<xsd:enumeration value="INITIAL" />
					<xsd:enumeration value="CANCELLED" />
					<xsd:enumeration value="RETURNED" />
					<xsd:enumeration value="DELIVERED" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="T_Item">
		<xsd:annotation>
			<xsd:documentation>Element for line details for a sales/return
				transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Discount" type="tns:T_Discount"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Tax" type="tns:T_Tax" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="Zip" use="optional">
			<xsd:annotation>
				<xsd:documentation>ship to zip code</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Type" use="required">
			<xsd:annotation>
				<xsd:documentation>
					2000 - NIKEiD Non-Merchandise Sale -- new
					2001 -
					Merchandise Sale
					2002 - Non-Merchandise Sale
					2003 - Comp Sale
					2004 -
					NIKEiD Sale INITIAL
					2005 - NIKEiD Sale DELIVERED
					2006 - NIKEiD Comp
					Sale INITIAL
					2007 - NIKEiD Comp Sale DELIVERED
					2008 - NIKEiD
					Non-Merch DELIVERED
					2010 - NIKEiD Remake Sale INITIAL
					2011 - NIKEiD
					Remake Sale DELIVERED
					2800 - NIKEiD Non-Merchandise cancel -- new
					2801 - Merchandise Return
					2802 - Non-Merchandise Return
					2803 - Comp
					Return
					2804 - NIKEiD Return
					2805 - NIKEiD Comp Return
					2806 - NIKEiD
					Cancelled
					2807 - NIKEiD Comp Cancelled
					2808 - NIKEiD Remake Return
					2809 - NIKEiD Remake Cancelled
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="2000" />
					<xsd:enumeration value="2001" />
					<xsd:enumeration value="2002" />
					<xsd:enumeration value="2003" />
					<xsd:enumeration value="2004" />
					<xsd:enumeration value="2005" />
					<xsd:enumeration value="2006" />
					<xsd:enumeration value="2007" />
					<xsd:enumeration value="2008" />
					<xsd:enumeration value="2010" />
					<xsd:enumeration value="2011" />
					<xsd:enumeration value="2800" />
					<xsd:enumeration value="2801" />
					<xsd:enumeration value="2802" />
					<xsd:enumeration value="2803" />
					<xsd:enumeration value="2804" />
					<xsd:enumeration value="2805" />
					<xsd:enumeration value="2806" />
					<xsd:enumeration value="2807" />
					<xsd:enumeration value="2808" />
					<xsd:enumeration value="2809" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="SerialNo" use="optional">
			<xsd:annotation>
				<xsd:documentation>serial # for GC</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Qty" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>quantity of items</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="NormValue" type="xsd:decimal" use="required">
			<xsd:annotation>
				<xsd:documentation>nomral value of item without discount.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="InvSource" use="optional">
			<xsd:annotation>
				<xsd:documentation>source where item was sourced e.g. NIKEID, plant
					code, BRD etc</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ID" use="required">
			<xsd:annotation>
				<xsd:documentation>UPC code for this item</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="AuthCode" use="optional">
			<xsd:annotation>
				<xsd:documentation>GC Auth code for GC line.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ActValue" type="xsd:decimal" use="required">
			<xsd:annotation>
				<xsd:documentation>Actual value without discount + tax
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="State" use="optional">
			<xsd:annotation>
				<xsd:documentation>ship to state.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="City" use="optional">
			<xsd:annotation>
				<xsd:documentation>ship to city.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ItemRef" use="optional">
			<xsd:annotation>
				<xsd:documentation>Only for NIKEiD Studio lines - eCommerceID + last
					4 digits of store transaction #.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="18" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>