DOMS_DigitalRetailSales_1041_SCS/src/osb/resources/wsdls/DOMS_DigitalRetailSales_1041_SCS_WSDL_1.00.wsdl

<wsdl:definitions targetNamespace="http://nike.com/definitions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="urn:com.nike.sales" xmlns:sch1="http://nike.com/definitions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nike.com/definitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.Nike.links/Customs/messages" xmlns="http://www.Nike.links/Customs/messages" xmlns:customs="http://www.xmlns.nike.com">
			<xs:import namespace="urn:com.nike.sales" schemaLocation="../schemas/DOMS_DigitalRetailSales_1041_SCS_XsdSrc_1.00.xsd"/>
		</xs:schema>
		<xsd:schema targetNamespace="http://nike.com/definitions" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xs:element name="correlation-id" type="xs:string"/>
			<xs:simpleType name="ValidationStatusType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Validated"/>
					<xs:enumeration value="Failed Validation"/>
					<xs:enumeration value="Not Validated"/>
				</xs:restriction>
			</xs:simpleType>
				<xs:element name="SalesATGResponse">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Response information</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string"/>
						<xs:element name="TranNo" type="xs:string"/>
						<xs:element name="SchemaValidationStatus" type="tns:ValidationStatusType"/>
						<xs:element name="StatusTimestamp" type="xs:dateTime"/>
						<xs:element name="ResponseMsg" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xsd:element name="SalesATGFault" type="tns:FaultType"/>
			<xsd:complexType name="FaultType">
				<xsd:annotation>
					<xsd:documentation>Fault information  </xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>					
					<xsd:element name="StatusCode" type="xs:string"/>
					<xsd:element name="TranNo" type="xs:string"/>
					<xsd:element name="SchemaValidationStatus" type="tns:ValidationStatusType"/>
					<xsd:element name="StatusTimestamp" type="xs:dateTime"/>
					<xsd:element name="FaultDetails" type="xs:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SalesATGRequest">
		<wsdl:part element="sch0:DigSales" name="SalesATGRequest">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="SalesATGResponse">
		<wsdl:part element="sch1:SalesATGResponse" name="SalesATGResponse"/>
	</wsdl:message>
	<wsdl:message name="SalesATGFault">
		<wsdl:part name="parameters" element="tns:SalesATGFault"/>
	</wsdl:message>
	<wsdl:portType name="operationPortType">
		<wsdl:operation name="publish">
			<wsdl:input message="tns:SalesATGRequest" name="Input"/>
			<wsdl:output message="tns:SalesATGResponse" name="Output"/>
			<wsdl:fault name="fault" message="tns:SalesATGFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="digitalSalesBinding" type="tns:operationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="publish">
			<soap:operation soapAction="http://nike.com/WS/definitions/publish"/>
			<wsdl:input name="Input">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="Output">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service">
		<wsdl:port binding="tns:digitalSalesBinding" name="bindingInteractionPort">
			<soap:address location="http://!!osb.http.loadbalancer!!/Sales/SalesATG"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>