DOMS_PRUpdate_1130_SCS/src/osb/resources/wsdls/DOMS_PRUpdate_1130_SCS_WSDL_1.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nike.com/definitions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:idmNS="http://xmlns.int.nike.com/PO/xsd/v1"
	xmlns:tns="http://nike.com/definitions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:responseNS="http://nike.com/definitions">
	<wsdl:types>
		<!--IDM XSD referenced from : http://sharepoint/digcom/order%20management%20integration/Document%20Library/1/Integration%20technical%20documents/Service%20Contracts/PurchaseRequisition_IDM_V2.xsd -->
		<!-- This file was generated by W3C XML/XSD Export Model Bridge from Meta 
			Integration Technology, Inc. (MITI) -->
		<!-- Generated from ERWin model Purchase Requisition IDM V1 -->
		<!-- IDM utilizes Nike standard abbreviations - http://sharepoint/ea/data/Lists/Abbreviation%20List/All%20Approved%20Itms.aspx -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://xmlns.int.nike.com/PO/xsd/v1" targetNamespace="http://xmlns.int.nike.com/PO/xsd/v1"
			elementFormDefault="qualified" version="1.01">
			<xs:annotation>
				<xs:documentation>Derived From: ZPO_DATA.xsd. R8 xsd published with:
					Sorted: No </xs:documentation>
			</xs:annotation>
			<xs:complexType name="Itm">
				<xs:annotation>
					<xs:documentation>Itm entity is designed to provide purchase
						requisition Itm details.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="tns:ItmSzDtl" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="tns:PRItmTxt" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="PRItmNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The R3 generated number which associated a
								given Style/Color with a Purchase Order (PO) Header. The system
								generated number takes the form of a six character value which
								begins with 000010 and increments higher in units of 10. Example
								Value: 000010, 000020, 000030, etc. MDR ID: 2038
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlanMoDt" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A calendar month for which Purchase Orders (PO)
								are planned. For example, if a PO is issued in July for
								December, the Plan Month is either December or November, based
								on the Region/Country/Division. Example Value: 11\2008 MDR ID:
								2077 - Plan Month </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CrtdByCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>An alphanumeric set of characters that
								represents the assigned system user identification for the
								person or system that created the record. Example Value: sjones1
								(meaning Sally Jones) BTC-EUR-IM (meaning Batch Europe Inventory
								Management). MDR ID: 10596 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseTrnstTmdate" type="xs:date"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date from which transit time is calculated.
								Example Value:20120927</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RqstnrNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>This indicates from whom the material or
								external shown in the purchase requisition needs to be ordered.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRShpgInstrnCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Specifies the packaging and shipping
								instructions issued to the Vendor. Also specifies whether
								material will be shipped via Vessel, Air Freight or Truck for
								its main shipment leg. Example Value: 01 MDR ID: 2028 - PO
								Shipping Instructions </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocTypeCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>An alphanumeric character that uniquely
								identifies the purpose of a Purchase Order document. Examples: A
								(meaning Request for Quotation) F (meaning Purchase Order) K
								(meaning Contract) L (meaning Scheduling Agreement). Example
								Value: ZR01, ZR02, ZR03 MDR ID: 2043 - Purchase Order Document
								Type Code </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurchgOrgCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A set of numbers that uniquely identifies the
								Purchasing Organization. Examples: 1000 (meaning NIKE USA
								Indirect) 4100 (meaning Indirect Canada). Example Value: 3100
								MDR ID: 3809 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqTrckgNbr" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Custom alphanumeric field to store requirement
								tracking information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlntIdCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A number that uniquely identifies a facility
								where inventory is processed and stored. A Plant is normally
								associated with a single Distribution Center (DC). Products are
								tracked by Plant Identifier Code when stored as inventory.
								Multiple plants may be assigned to a single physical location.
								In these rare cases, Products are segregated by their Plant
								Identifier Code as if they were in different locations, to
								support independent processing logic. Example Value: 1047
								(meaning Northridge) 1051 (meaning Shelby). MDR ID: 2074
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurchgGrpCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A number that uniquely distinguishes the
								department within Nike responsible for buying activities.
								Internally, the Purchasing Group is responsible for the
								procurement of Itms from a Vendor. From the Vendor's point of
								view, it is the medium through which contact is maintained.
								Example value: 120 (meaning Aprl USA) 330 (meaning Ftwr Europe)
								250 (meaning Eqpt Japan). MDR ID: 6157 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FxdVendNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A unique alphanumeric identification of a
								business partner to whom amounts are payable for goods delivered
								or services performed. Examples of such services or goods
								include: Goods acquired, business services received, the
								transfer of a right. It represents the vendor which carries over
								to PO. Example value: HIT, Y3, JOM MDR ID: 3414 - Vendor Number
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DsrdVendNbr" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A unique alphanumeric identification of a
								business partner to whom amounts are payable for goods delivered
								or services performed. Examples of such services or goods
								include: Goods acquired, business services received, the
								transfer of a right. Placeholder for vendor before it is moves
								on to fixed vendor field. Example value: 1005, HIT MDR ID: 3414
								- Vendor Number </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DlvryDt" type="xs:date" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Calendar Date projected for when Products
								on a Purchase Order are estimated to arrive at their final
								destination. This is based on production schedules and is
								calculated prior to departing origin location. This is the best
								indication, before Products are In Transit, of when to expect
								Delivery. MDR ID: 10646 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelDt" type="xs:date" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date purchase requisition is released to be
								converted to a purchase order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RqstdDt" type="xs:date" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date when the purchase requisition was
								requested by Customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MatlNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>For SAP, an alphanumeric identifier for
								style/color of product. MDR ID: 2649</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RqstdTotQty" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Represents the quantity requested for purchase
								at the material level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ItmCatCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Itm category in purchasing Document Indicator
								which shows the Itms features. The Itm category controls whether
								Material Number, Additional Account Assignment, and Inventory
								are necessary or permitted for the Itm. MDR ID: 2041 - Purchase
								Order Itm Category Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SesnCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>An alphanumeric value that uniquely identifies
								the Business Season. Example Value: HO, SP, FA, SU MDR ID: 5611
								- Business Season Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SesnYrCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A unique code that represents one season and
								year in which an event occurs. Example Value: SP2012 MDR ID:
								8432</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ItmActnCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>This action code will determine whether to
								create, change or Delete a Purchase Requsition Itm or change all
								the line Itms on the PR. Example: 01=Create, 02 = Change, 03 =
								Delete, 09=Change All</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRCtrlInd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Would indicate whether this is transport
								relevant or Purchase Req relevant for outline agreement.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcctAsgnmtGrpCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Represents a unique code and textual
								description compiled of Account Assignment Group Code and
								Description. Examples: 01 - External Revenues 02 - Intercompany
								Revenue. MDR ID: 8323 - Account Assignment Group Note: Specifies
								whether accounting for an Itm is to be effected via an auxiliary
								account (such as a cost center).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MRPCtrlrCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code specifying the number of the Materials
								Resource Planning (MRP) controller or group of MRP controllers
								responsible for Material Planning for the Material. MDR ID: 2627
								Note: Specifies the number of the MRP controller or group of MRP
								controllers responsible for material planning for the material.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISOLangCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The text label associated with the ISO Language
								Code. Example Value: ENGLISH GERMAN KOREAN MDR ID: 9239
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VendMatlNbr" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Material Number Used by Vendor
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GRPrcsgTmInDaysQty" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Estimated time in days to process a Good
								Receipt (GR). Examples: 0 1 2 8. MDR ID: 7886 Note: Number of
								workdays required after receiving the material for inspection
								and placement into storage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GRReqdInd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicator specifies whether a goods receipt is
								required for the Purchase Order Itm. MDR ID: 2158 Note:
								Indicator specifies whether a goods receipt is required for the
								Purchase Order Itm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VendNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A unique alphanumeric identification of a
								business partner to whom amounts are payable for goods delivered
								or services performed. Examples of such services or goods
								include: Goods acquired, business services received, the
								transfer of a right. Example: JOM MDR ID: 3414 Note: Vendor who
								is going to receive the delivery in case of Subcontracting
								vendor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubCntrctgVendInd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicator that identifies the vendor as a
								subcontractor. If the indicator has been set, the goods receipt
								is posted direct to the stock with subcontractor of this vendor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ItmSzDtl">
				<xs:annotation>
					<xs:documentation>Itm Size Detail records the size details
						associated with an Itm.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="SzDesc" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>One of a series of graduated dimensions by
								which manufactured articles are classified. A conventional
								relative measure of dimension, as for Footwear, Gloves, Apparel,
								and other articles made up for sale. Example: S, M and L, or 7,
								7.5 and 8. Also commonly called Apparel Footwear Solution (AFS)
								Size, and Grid Value. MDR ID: 3549 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RqstdSzQty" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Represents the quantity requested for purchase
								at the size level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StckCatCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A set of characters assigned to a group of
								stockable Itms. These codes are a concatenation of Quality Code
								and Inventory Segmentation Code. Example Value: SS234 01000
								01055. MDR ID: 3207 - Apparel Footwear Solution Stock Category
								Code </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BUOMCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A set of alphanumeric characters which uniquely
								identifies how many end-Consumer sellable units are in a
								Prepack, unless further modified by Delivery Unit Quantity or
								Prepack Code. For instance, a Base Unit Of Measure (BUOM) of EA
								may still be sold in prepack as indicated by a Delivery Unit
								Quantity greater than 1. Example scenarios: 1. A BUOM of EA with
								a Prepack Code of 0 and Delivery Unit Quantity of 1 implies that
								an Order Entry Quantity of 1 translates to 1 end-Consumer
								sellable unit. 2. A BUOM of EA with a Prepack Code of 2 and
								Delivery Unit Quantity of 6 implies that an Order Entry Quantity
								of 6 translates to 6 end-Consumer sellable unit. 3. A BUOM of 06
								with a Prepack Code of 1 and Delivery Unit Quantity of 6 implies
								that an Order Entry Quantity of 1 translates to 6 end-Consumer
								sellable unit. Examples: EA (meaning Each) PR (meaning Pair,
								generally treated the same as Each) 06 (meaning PPK06) MDR ID:
								11154 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ItmSzDtlActnCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This action code will determine whether to
								create, change or Delete a Purchase Requsition Itm or change all
								the line Itms on the PR. Example: 01=Create, 02 = Change, 03 =
								Delete</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SzSortSeqNbr" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used so that sizes appear in order. MDR ID:
								3548  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DlvryDt" type="xs:date" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date expected to deliver the goods
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelDt" type="xs:date" nillable="true"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PRHdr">
				<xs:annotation>
					<xs:documentation>Purchase Requisition is a document generated by
						an internal/external to notify the purchasing department of Itms
						to order, their quantity and the time frame. This entity is
						deisgned to maintain header details associated with the purchase
						requisition.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="tns:Itm" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="tns:PRHdrTxt" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="PRNbr" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alphanumeric key uniquely identifying a
								Purchase Requisition. Purchase Requisition is a document
								completed to request the purchase of an authorized Itm. Example
								Value:1234567891 MDR ID: 3807</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRHdrActnCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This action code will determine whether to
								create, change or Delete a Purchase Requsition. Example: (01 =
								Create, 02 = Change, 03 = Delete )</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RoutingCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>This will determine which SAP instance service
								will be directed to based upon PLANT Value. Example: If
								IdentifierType 01 = CompanyCode, 02 = SalesOrg, 03 =CountryCode,
								04 = Plant, 99 = LogicalSystemName.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SvcCd" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>This will determine which SAP instance service
								will be directed to based upon RoutingCd. T Example: 1051
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BlnkVendFuncInd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If true then perform the blank Vendor function.
								Should elements not sent in xml be set to blank in SAP. Example:
								True or False</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuppressFmttingInd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Would indicate if the Output response should be
								formatted or not (true/false). Would also check for any
								conversions which would need to happen before sending out to the
								receiving systems. If true suppress formatting during output of
								response. Example: true or false</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PRHdrTxt">
				<xs:annotation>
					<xs:documentation>Optional text details that apply to the entire
						Purchase Requisition.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="PRHdrTxtActnCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This action code will determine whether to
								create, change or Delete a Purchase Requsition. Example: (01 =
								Create, 02 = Change, 03 = Delete )</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRHdrTxtId" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Text Id defines the various types of
								content related to a text object. For example, the object TEXT
								can have the following text Ids: Standard Text Text Id
								user-specific standard texts ST cross-application system texts
								SYST Various Ids for specific application departments. You must
								have the appropriate access authorization in order to access
								this content. Text Id are used and can be found in a number of
								SAP transactions. MDR ID: 3486 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRHdrTxtDtl" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free form text relating to a Purchase
								Requisition.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PRItmTxt">
				<xs:annotation>
					<xs:documentation>Optional text details that apply to the
						individual Itms within the Purchase Requisition.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="PRItmTxtActnCd" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This action code will determine whether to
								create, change or Delete a Purchase Requsition. Example: (01 =
								Create, 02 = Change, 03 = Delete )</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRItmTxtId" type="xs:string" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Text Id defines the various types of
								content related to a text object. For example, the object TEXT
								can have the following text Ids: Standard Text Text Id
								user-specific standard texts ST cross-application system texts
								SYST Various Ids for specific application departments. You must
								have the appropriate access authorization in order to access
								this content. Text Id are used and can be found in a number of
								SAP transactions. MDR ID: 3486 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRItmTxtDtl" type="xs:string"
						nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free form text relating to an Itm in a Purchase
								Requisition.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Purchase_RequisitionMaster">
				<xs:annotation>
					<xs:documentation>Root element for Purchase Requisition. Project:
						Nike ID Publishers: DOMS Subscribers: SAP AFS IR Tables: None
						Namespace: http://xmlns.int.nike.com/PO/xsd/v1 </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="tns:PRHdr" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Itm" type="tns:Itm">
				<xs:annotation>
					<xs:documentation>Itm entity is designed to provide purchase
						requisition Itm details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItmSzDtl" type="tns:ItmSzDtl">
				<xs:annotation>
					<xs:documentation>Itm Size Detail records the size details
						associated with an Itm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRHdr" type="tns:PRHdr">
				<xs:annotation>
					<xs:documentation>Purchase Requisition is a document generated by
						an internal/external to notify the purchasing department of Itms
						to order, their quantity and the time frame. This entity is
						deisgned to maintain header details associated with the purchase
						requisition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRHdrTxt" type="tns:PRHdrTxt">
				<xs:annotation>
					<xs:documentation>Optional text details that apply to the entire
						Purchase Requisition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRItmTxt" type="tns:PRItmTxt">
				<xs:annotation>
					<xs:documentation>Optional text details that apply to the
						individual Itms within the Purchase Requisition.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purchase_RequisitionMaster" type="tns:Purchase_RequisitionMaster">
				<xs:annotation>
					<xs:documentation>Root element for Purchase Requisition. Project:
						Nike ID Publishers: DOMS Subscribers: SAP AFS IR Tables: None
						Namespace: http://xmlns.int.nike.com/PO/xsd/v1 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://nike.com/definitions"
			elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:element name="correlation-id" type="xs:string"/>
			
			<xs:simpleType name="StatusType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success" />
					<xs:enumeration value="Failed" />
					<xs:enumeration value="Unknown" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="PRUpdateResponse">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Response information</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string" />
						<xs:element name="PRNbr" type="xs:string" />
						<xs:element name="Status" type="tns:StatusType" />
						<xs:element name="StatusTimestamp" type="xs:dateTime" />
						<xs:element name="ResponseMsg" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PRUpdateFault" type="tns:FaultType" />
			<xs:complexType name="FaultType">
				<xs:annotation>
					<xs:documentation>Fault information  </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="StatusCode" type="xs:string" />
					<xs:element name="PRNbr" type="xs:string" />
					<xs:element name="Status" type="tns:StatusType" />
					<xs:element name="StatusTimestamp" type="xs:dateTime" />
					<xs:element name="FaultDetails" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PRUpdateRequest">
		<wsdl:part element="idmNS:Purchase_RequisitionMaster" name="PRUpdateRequest" />
	</wsdl:message>
	<wsdl:message name="PRUpdateResponse">
		<wsdl:part element="responseNS:PRUpdateResponse" name="PRUpdateResponse" />
	</wsdl:message>
	<wsdl:message name="PRUpdateFault">
		<wsdl:part element="responseNS:PRUpdateFault" name="PRUpdateFault" />
	</wsdl:message>
	<wsdl:portType name="PRUpdatePortType">
		<wsdl:operation name="PRUpdate">
			<wsdl:input message="tns:PRUpdateRequest" name="Input" />
			<wsdl:output message="tns:PRUpdateResponse" name="Output" />
			<wsdl:fault message="tns:PRUpdateFault" name="Fault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PRUpdateBinding" type="tns:PRUpdatePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PRUpdate">
			<soap:operation soapAction="http://nike.com/WS/definitions/PRUpdate" />
			<wsdl:input name="Input">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="Output">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
