services/LoggingServiceClient/src/osb/resources/wsdls/LoggingService_1.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="LoggingService" targetNamespace="http://www.nike.com/LoggingService/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.nike.com/LoggingService/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.nike.com/LoggingService/" xmlns:nke="http://www.nike.com/LoggingService/" xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="LoggingServiceRequest" type="nke:LoggingServiceRequestType"/>
      <xsd:complexType name="LoggingServiceRequestType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Platform">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="OSB"/>
                <xsd:enumeration value="SOA"/>
                <xsd:enumeration value="INFA"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="ServiceName" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="ServiceId" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Trace" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Severity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ERROR"/>
                <xsd:enumeration value="WARNING"/>
                <xsd:enumeration value="INFO"/>
                <xsd:enumeration value="DEBUG"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="SystemId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="InstanceId" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="Domain" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="FileName" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="BusinessKey" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="TransactionId" type="xsd:string">
					</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="SubjectArea">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="HR"/>
                <xsd:enumeration value="PRODUCT"/>
                <xsd:enumeration value="DELIVER"/>
                <xsd:enumeration value="ORDER"/>
                <xsd:enumeration value="FINANCE"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="LoggingServiceRequest">
    <WL5G3N0:part element="WL5G3N1:LoggingServiceRequest" name="NewPart"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="LoggingService">
    <WL5G3N0:operation name="Log">
      <WL5G3N0:input message="WL5G3N1:LoggingServiceRequest"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="LoggingServiceSOAP" type="WL5G3N1:LoggingService">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="Log">
      <WL5G3N2:operation soapAction="http://www.nike.com/LoggingService/Log"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="LoggingServiceSOAPQSService1">
    <WL5G3N0:port binding="WL5G3N1:LoggingServiceSOAP" name="LoggingServiceSOAPQSPort1">
      <WL5G3N2:address location="http://!!osb.http.loadbalancer!!/LoggingService_1.00"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>