services/GlobalConfigurations_1.00/src/osb/resources/wsdls/GlobalConfigurations_1.00.wsdl

<wsdl:definitions name="GlobalConfigurations_1.00" targetNamespace="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:nke="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.nike.com/GlobalConfigurations_1.00/" xmlns:Q1="http://www.nike.com/GlobalConfigurations_1.00/">
			<xsd:include schemaLocation="../schemas/GlobalConfigurations_1.00.xsd"/>
			<xsd:element name="GetConfigForAServiceByIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetConfigForAServiceByIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="service" type="Q1:ServiceType" maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="GetAllConfigForAServiceRequest"/>
			<xsd:element name="GetConfigForAServiceByNameRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceName" type="xsd:string" maxOccurs="1" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetConfigForAServiceByNameResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="service" type="Q1:ServiceType" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetConfigForAServiceByIdRequest">
		<wsdl:part element="nke:GetConfigForAServiceByIdRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetConfigForAServiceByIdResponse">
		<wsdl:part element="nke:GetConfigForAServiceByIdResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetConfigForAServiceByNameRequest">
		<wsdl:part name="parameters" element="nke:GetConfigForAServiceByNameRequest"/>
	</wsdl:message>
	<wsdl:message name="GetConfigForAServiceByNameResponse">
		<wsdl:part name="parameters" element="nke:GetConfigForAServiceByNameResponse"/>
	</wsdl:message>
	<wsdl:portType name="GlobalConfigurations_1.00">
		<wsdl:operation name="GetConfigForAServiceById">
			<wsdl:input message="nke:GetConfigForAServiceByIdRequest"/>
			<wsdl:output message="nke:GetConfigForAServiceByIdResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetConfigForAServiceByName">
			<wsdl:input message="nke:GetConfigForAServiceByNameRequest"/>
			<wsdl:output message="nke:GetConfigForAServiceByNameResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GlobalConfigurations_1.00SOAP" type="nke:GlobalConfigurations_1.00">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetConfigForAServiceById">
			<soap:operation soapAction="http://www.nike.com/GlobalConfigurations_1.00/GetConfigForAServiceById"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetConfigForAServiceByName">
			<soap:operation soapAction="http://www.nike.com/GlobalConfigurations_1.00/GetConfigForAServiceByName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GlobalConfigurations_1.00">
		<wsdl:port binding="nke:GlobalConfigurations_1.00SOAP" name="GlobalConfigurations_1.00SOAP">
			<soap:address location="http://!!osb.http.loadbalancer!!/GlobalConfigurations_1.00"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>